<% content_for :header do %>
<h1><%= @category.name %></h1>
<h2>Forums</h2>
<% end %>

<% if @forums.blank? %>
  <p>No forums currently exist for this category.</P>
<% else %>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Description</th>
        <th>Posts</th>
        <th>Last Post</th>
			<% if current_user.is_admin? %>
				<th>Position</th>
				<th>Status</th>
				<th>Actions</th>
			<% end %>
		</tr>
	  <% @forums.each do |forum| %>
			<tr>
			  <td><%= link_to forum.name, forum_forum_path(forum) %></td>
				<td><%= forum.description %></td>
        <td><%= forum.forum_posts.count %></td>
        <td><%= forum.forum_posts.order(created_at: :desc).first.created_at unless forum.forum_posts.count == 0 %></td>
				<% if current_user.is_admin? %>
					<td><%= forum.position %></td>
					<td><%= forum.status.humanize %></td>
					<td><%= link_to "Edit", edit_forum_forum_path(forum) %></td>
				<% end %>
			</tr>
	  <% end %>
	</table>
<% end %>

<% if current_user.is_admin? %>
  <%= link_to "Create Forum", new_forum_forum_path(:category_id => @category.id), :class => "btn btn-primary" %>
<% end %>
